<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Input</title>

</head>
<body>
    <h1> "IRIS plant type prediction" </h1>
    <h2>Please input the features</h2>
    <form method="POST" action="/">
        <input type="number" name="l1" step="any" placeholder="sepal length in cm"><br>
        <input type="number" name="l2" step="any" placeholder="sepal width in cm"><br>
        <input type="number" name="l3" step="any" placeholder="petal length in cm"><br>
        <input type="number" name="l4" step="any" placeholder="petal width in cm"><br>

        <input type="submit" value="Send">

    </form>
</body>
</html>